@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #202020;
    min-height: 97vh;
}

h1 {
  color: fuchsia;
  font-family: 'VT323', monospace;
  font-size: 48px;
}

.main{
  display: flex;

}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container {
    padding: 1.7% 1.7% 1.7% 1.7% ;
    background-color: #3167ff;
    border-radius: 2%;
    /* max-width: 97vh; */
}

/* .button, .magic, input[type=color] {
    margin: 30px;
}

.button:hover, .magic:hover, input[type=color]:hover {
  color: wheat;
  background-color: grey;
}

.button:active, .magic:active, input[type=color]:active {
  background-color: wheat;
  box-shadow: 0 0px #666;
} */

#resolution {
  font-size: medium;
  font-weight: bold;
  display: block;
  margin: 20px;
  padding: 15px 32px;
  background-color: orange;
  border: 2px solid white;
  color: white;
}

button#resolution:hover, type#resolution:hover {
  background-color: darkorange;
}

button#resolution:active, type#resolution:active {
  background-color: white;
  padding: 15px 32px;
  border: 2px solid darkorange;
  color: darkorange;
}

/* Add formating to input color picker */
.more_colors {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgb(152, 219, 43);
  margin: 10px;
}

.more_colors label {
  padding: 15px 25px;
}

.more_colors input {
  visibility: hidden;
  position: absolute;
  bottom: 0;
}