body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffb1cc;
    min-height: 97vh;
}

.container {
    padding: 1.7% 1.7% 0% 1.7% ;
    background-color: red;
    border-radius: 2%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.button, .magic {
    border-radius: 100%;
    color: wheat;
    background-color: wheat;
    width: 72px;
    height: 72px;
    margin: 30px;
    box-shadow: -1px 2px black;
}

button:hover {
  color: wheat;
  background-color: grey;
}

button:active {
  background-color: wheat;
  box-shadow: 0 0px #666;
  transform: translate(-2px, 1px);  
}
