body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffb1cc;
    min-height: 97vh;
}

.container {
    padding: 1.7% 1.7% 0% 1.7% ;
    background-color: red;
    border-radius: 2%;
    /* max-width: 97vh; */
}

.buttons {
    display: flex;
    justify-content: space-between;
}

div > button {
    border-radius: 100%;
    color: wheat;
    background-color: wheat;
    border:1px solid grey;
    width: 72px;
    height: 72px;
    margin: 30px;
    box-shadow: -2px 4px black;
}

div > button:hover {
  color: wheat;
  background-color: grey;
}

div > button:active {
  background-color: wheat;
  box-shadow: 0 0px #666;
  transform: translate(-2px, 4px);
}

#resolution {
  font-size: medium;
  font-weight: bold;
  display: block;
  margin: 20px;
  padding: 15px 32px;
  background-color: orange;
  border: 2px solid white;
  color: white;
}

button#resolution:hover {
  background-color: white;
  padding: 15px 32px;
  border: 2px solid darkorange;
  color: darkorange;
}
